.terminal {
    font-family: monospace, monospace; 
    font-size: 12pt;
    line-height: 1.2;
    /* color: var(--termColour); */
    color: var(--colour);
    text-shadow: 0 0 2px var(--colour);
    overflow-x: hidden; /* mfw scrollbar still appears despite nothing exceeding 100 vw; */
    overflow-wrap: break-word;
}

/*
#termBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#003300, black);
    z-index: -100;
    margin-top: 0;
}

#termFg {
    position: relative;
    z-index: 100;
}
*/

.terminal pre {
    margin-bottom: 0;
    overflow: hidden;
    white-space: pre-wrap;
}

#inputter {
    color: var(--colour);
    text-shadow: 0 0 4px var(--colour);
    margin-top: 0;
    margin-left: 0;
}