body {
    --termColour: #33FF33;
}

.terminal {
    font-family: monospace, monospace; 
    font-size: 12pt;
    line-height: 1.2;
    /* color: var(--termColour); */
    color: var(--termColour);
    text-shadow: 0 0 2px lime;
}

/*
#termBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#003300, black);
    z-index: -100;
    margin-top: 0;
}

#termFg {
    position: relative;
    z-index: 100;
}
*/

.terminal pre {
    margin-bottom: 0;
}

#inputter {
    color: var(--termColour);
    text-shadow: 0 0 4px lime;
    margin-top: 0;
    margin-left: 0;
}